@model Candidato

@{
    //Layout = "~/views/shared/_Layout.cshtml"; está na view Start
    ViewData["Title"] = "Detalhes";
}
<section id="candidato" class="container">
    <header>
        <a class="btn btn-default" asp-action="Atualizar" asp-route-id="@Model.Id">Editar</a>

        <form asp-action="Excluir">
            <input type="hidden" asp-for="Id" />
            <button class="btn btn-danger">Excluir</button>
        </form>
    </header>
    <section id="info-basica">
        <img src="/Candidato/Foto/@Model.Id" />
        <h1>@Model.Nome</h1>
        <div id="contato">
            <p>Endereço: @Model.Endereco </p>
            <p>Telefone : @Model.Telefone</p>
            <p>Email : @Model.Email</p>
        </div>
        <div id="objetivo">
            <h2>Objetivo</h2>
            <p>
                @Model.Objetivo
            </p>
        </div>
    </section>
    <!--As redes Sociais podem ser incluidas aqui-->

    <section id="experiencia">
        <h2>Experiências</h2>
        <button class="btn btn-primary" data-toggle="modal" data-target="#modalExperiencia">Incluir</button>

        @foreach (var exp in Model.Experiencias)
        {
            <p>Empresa</p>
            <p>@exp.Empresa</p>
            <p>Cargo</p>
            <p>@exp.Cargo</p>
            <p>Descrição</p>
            <p>
                @exp.Descricao
            </p> //tag helper
            <form asp-action="ExcluirExperiencia">
                <input type="hidden" name="id" value="@exp.Id" />
                <button class="btn btn-danger">Excluir</button>
            </form>
        }
    </section>

    <section id="formacao">
        <header>
            <h2>Formação</h2>
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalFormacao">Incluir</button>
        </header>
        <ul>
            @foreach (var formacao in Model.Formacoes)
            {
            <li>
                <h3>@formacao.Instituicao</h3>
                <p>@formacao.AreaDeEstudo</p>
                <p>
                    @formacao.DataEntrada.ToString("dd/MM/yyyy") a 
                    @formacao.DataSaida.ToString("dd/MM/yyyy")
                </p>

                <form asp-action="ExcluirFormacao">
                    <input type="hidden" name="id" value="@formacao.Id" />
                    <button class="btn btn-danger">Excluir</button>
                </form>
            </li>
            }
        </ul>

    </section>

    <section id="habilidades">
        <h2>Habilidades</h2>
        <button class="btn btn-primary" data-toggle="modal" data-target="#modalHabilidade">Incluir</button>
        <p>
            @foreach (var habilidade in Model.Habilidades)
            {
            <p>@habilidade.Skill</p>

            <form asp-action="ExcluirHabilidade">
                <input type="hidden" name="id" value="@habilidade.Id" />
                <button class="btn btn-danger">Excluir</button>
            </form>
        }
            </p>
        </section>
    </section>
    <footer></footer>

    <div class="modal fade" id="modalExperiencia" role="dialog">
        <partial name="IncluirExperiencia" model="new Experiencia() { CandidatoId = Model.Id }" /> <!--Asp outra maneira de fazer .net-->
    </div>
    <div class="modal fade" id="modalFormacao" role="dialog">
        <partial name="IncluirFormacao" model="new Formacao()" />
    </div>
    <div class="modal fade" id="modalHabilidade" role="dialog">
        <partial name="IncluirHabilidade" model="new Habilidade()" />
    </div>
   
 @section Scripts{
        <script>
            //$('#CandidatoId').val(@Model.Id);
            $('#FormacaoCandidatoId').val(@Model.Id);
            $('#HabilidadeCandidatoId').val(@Model.Id);
        </script>
    }
