@using AspNet.Curriculos;
@model Candidato

@{
    ViewData["Title"] = "Detalhes";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/estilo.css">
    <title>Detalhes</title>
</head>
<body>
    <header class="navegacao">
        <ul>
            <li>Home</li>
            <li>Vagas</li>
            <li>Notificações</li>
        </ul>
    </header>

    <section class="container">
        <div id="candidato">
            <h1>Nome: @Model.Nome</h1>
            <p>Endereço: @Model.Endereco </p>
            <p>Telefone : @Model.Telefone</p>
            <p>Email : @Model.Email</p>
        </div>
        <!--As redes Sociais podem ser incluidas aqui-->
        <div id="objetivo">
            <h1>Objetivo</h1>
            <p>
                @Model.Objetivo
            </p>
        </div>

        <div id="experiencia">
            <h1>Experiencias</h1>
            @foreach (var exp in Model.Experiencias)
            {
                <p>@exp.Empresa</p>
                <p>@exp.Cargo</p>
                <p>
                    @exp.Descricao
                </p>
            }
        </div>

        <div id="formacao">
            <h1>Formaçao</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
            </p>
        </div>

        <div id="habilidades">
            <h1>Habilidades</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
            </p>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>
